<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose|%>
<%= dose.description %>
<br>
<%= dose.ingredient.name %>
<%= link_to 'Delete Dose', dose_path(dose), method: :delete, class: "btn btn-danger" %>
<br>
<br>
<% end %>
<% if @cocktail.photo.present? %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail.id), class: "btn btn-warning" %>
<br>
<br>
<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>



